*.o
*.elf
*.bin
*.out
*.ko
*.mod
*.mod.*
*.order
*.symvers

build/
host/host_benchmark
host/host_loader
host/host_manager
host/host_storage_loader
host/host_advanced_loader
host/host_ram_loader
tools/generate_dataset
tools/test_jit_caching
*.core
*.csv

.gdb_history
.cache
compile_commands.json

