*.o
*.elf
*.bin
*.out
*.ko
*.mod
*.mod.*
*.order
*.symvers

build/
host/host_manager
host/host_benchmark
host/host_storage_loader
tools/generate_dataset
*.csv


.gdb_history
.cache
compile_commands.json

